.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head-container {
  background-color: white;
  width: 280px;
  color: black;
}

.head-container p {
  font-weight: bold;
}

.mid-section {
  background-color: rgb(60, 206, 2);
  margin: 20px;
}

.mid-section button {
  height: 100px;
  width: 100px;
  margin: 20px;
  border: 5px solid black;
  border-radius: 15px;
}

.mouth {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 15px;
}

.bottom {
  background-color: rgb(60, 206, 2);
  height: 150px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nouse {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouth p {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.normal-bk {
  background-color: rgb(173, 255, 47);
}

.high-bk {
  background-color: rgb(255, 30, 0);
}

.to-low-bk {
  background-color: rgb(0, 0, 255);
}

